celery==4.4.7
kombu==4.6.11
Django==2.2.20
django-mongoengine==0.4.1
djangorestframework==3.12.2
django-rest-framework-mongoengine==3.4.1
mock==2.0.0
mongoengine==0.23.0
requests==2.25.1
future==0.18.2
