celery==4.1.1
# FIXME: upgrade celery and remove kombu
kombu==4.3.0
Django==2.2.13
django-mongoengine==0.3.3
djangorestframework==3.9.1
django-rest-framework-mongoengine==3.4.0
mock==2.0.0
mongoengine==0.18.2
requests==2.20.0
future==0.17.1
