.result-line-main-container {
    border-bottom: solid 1px #d4d4d4;
}

.result-line-title-container {
    height: 45px;
}

.results-page div {
    position: relative;
}

div.results-container {
    padding-top: 10px;
    margin:0;
}

span.expand {
    cursor:pointer;
}

.template-info-name {
    color:#555;
}

.result-title {
    font-weight:bold;
}

.result-title:hover {
    color: #37c0fb;
}

.tab-selector td {
    padding: 5px;
}

.tab-selector input[type="checkbox"] {
    position: relative;
    top: -2px;
}

.filter {
    float: right !important;
    margin-top: 5px;
}

.filter ul {
    padding: 0;
}

.filter button {
    margin-left: 5px;
    border-radius: 5px;
    background: none;
    border: none
}

.filter ul>li {
    cursor: pointer;
}

.filter button:hover {
  background-color: #cacaca;
}

.permissions-link {
    display: none;
}

.permissions-icon {
    font-size: 20px;
    color: #007aa7;
    cursor: pointer;
}

.data-info-right-container {
    float:right;
    width: auto;
    text-align: end;
}

.data-info-left-container {
    float: left;
}

.xmlResult {
    width: 100%;
    overflow: auto;
}