.results-page div {
    overflow: hidden;
    position: relative;
    width: 100%;
}

div.results-container {
    padding-top:1 0 0 0;
    margin:0;
}

span.expand {
    cursor:pointer;
}

.template-info-name {
    color:#555;
}

.result-title {
    font-weight:bold;
}

.tab-selector td {
    padding: 5px;
}

.tab-selector input[type="checkbox"] {
    position: relative;
    top: -2px;
}

.filter {
    float: right !important;
    margin-top: 5px;
}

.filter ul {
    padding: 0;
}

.filter button {
    webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #a7a7a7;
}

.filter ul>li {
    cursor: pointer;
}

.filter ul>li:hover {
  background-color: #cacaca;
}

.pagination {
    margin-left: 50%;
    padding-top: 20px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}