{% extends 'core_main_app/user/sharing/modals/single-link.html'%}

{% block modal_title %}Share Query{% endblock %}
{% block modal_id %}persistent-query-modal{% endblock %}
{% block modal_input_id %}persistent-query-link{% endblock %}
{% block modal_submit_id %}persistent-query-submit{% endblock %}
{% block modal_extra_content %}
    {% if request.user.is_authenticated %}
        <div class="form-inline" id="rename_tools">
          <div class="form-group mb-2">
            Do you want to name this query?
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <input type="text" id="persistent-query-name" placeholder="Query name">
          </div>
          <button id="persistent-query-rename" class="btn btn-secondary" disabled="disabled">Rename</button>
        </div>
    {% endif %}
{% endblock %}