{% extends 'core_main_app/user/sharing/modals/single-link.html'%}

{% block modal_title %}Share Query{% endblock %}
{% block modal_id %}persistent-query-modal{% endblock %}
{% block modal_input_id %}persistent-query-link{% endblock %}
{% block modal_submit_id %}persistent-query-submit{% endblock %}
{% block modal_extra_content %}
    {% if request.user.is_authenticated %}
        <div class="row g-3 align-items-center" id="rename_tools">
          <div class="col-auto">
            Do you want to name this query?
          </div>
          <div class="col-5">
              <input type="text" id="persistent-query-name" class="form-control form-control-lg" placeholder="Query name">
          </div>
          <div class="col-auto">
             <button id="persistent-query-rename" class="btn btn-secondary" disabled="disabled">Rename</button>
          </div>
        </div>
    {% endif %}
{% endblock %}
