<div class="filter">
    <button id="result-button-filter{{data_source_index}}" class="result-toolbar-button" {% if BOOTSTRAP_VERSION|first == "4" %}data-toggle{% elif BOOTSTRAP_VERSION|first == "5" %}data-bs-toggle{% endif %}="dropdown" aria-haspopup="true"
            aria-expanded="false">
        <i class="fas fa-sort-amount-up"></i> Sort
    </button>
    <ul class="dropdown-menu tools-menu filter-dropdown-menu" aria-labelledby="result-button-filter{{data_source_index}}">
        {% for item in data_displayed_sorting_fields %}
            <li data-filter-value="{{item.field}}"><i class="fas fa-random" aria-hidden="true"></i> {{item.display}}</li>
        {% endfor %}
    </ul>
</div>